
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sec{
    padding: 5rem 10px;
     background-color:rgb(12, 59, 129); 
    background-image: linear-gradient(170deg, floralwhite, floralwhite 50%, rgb(16, 103, 138) 50%, rgb(24, 141, 219) 100%);
    background-position: center center;
}

.form-box {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
 

  box-shadow: 1px 1px 3px dimgrey, 3px 3px 7px grey;
}

form {
  
}
.form-item {
  margin-bottom: 0.7rem;
}
label,
input,
textarea {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  line-height: 1.4;
  border-radius: 8px;

  
}
.mem{
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}
.mail{
  padding: 14px 16px 14px 16px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: rgb(7, 55, 143);
}
.mail:hover{
  background-color:rgb(233, 237, 243) ;
  color:rgb(7, 55, 143) ;
}
.chat{
  padding: 14px 16px 14px 16px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(7, 55, 143);
}
.chat:hover{
  background-color:rgb(7, 55, 143) ;
  color: rgb(233, 237, 243);
}
input {
  border: none;
  background-color: transparent;
  outline: none;
  color: gray;
  }
  
  input:focus {
  color: rgb(56, 56, 56);
  }
label {
  margin-bottom: 3px;
}
input,
textarea {
  padding: 5px 5px 5px 10px;
  border: none;
  background-color: transparent;
  outline: none;
  background-color: #ccc;
}
input[type="submit"] {
  background-color: rgb(0, 22, 68);
  padding: 7px;
  border: 0;
  color: snow;
  cursor: pointer;
  text-transform: uppercase;
}
input[type="submit"]:hover {
  animation: submit-hover;
  animation-duration: 3.7s;
}
input[type="submit"]:active {
  animation: submit-active;
  animation-duration: 0.3s;
}
@keyframes submit-hover {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes submit-active {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.98);
  }
}
@media only screen and (max-width:798px){
   .mem{
    gap: 15px;
   }
}